.div-navbar{
    margin: 10px 25px;
    .lista{
        font-weight: bold;
        display: flex;
        gap: 5px;
        align-items: center;
        .item{
            text-decoration: none;
            padding: 15px;
            font-size: 20px;
            color: black;
        }
    }
}