.div-catalogo{
    background-color: #D9CDBF;
    color: black;
    .div-categorias{
        padding: 20px 10px;
    }
    .div-cardproducts{
        padding: 10px;
        border: 2px yellow solid;
        display: flex;

    }
    .div-paging{
        padding: 10px;
        justify-items: center;

    }
}