.div-checkout{
    background-color: #D9CDBF;
    min-height: 80vh;
    .orden-confirmada{
        color: black;
        margin: 80px 120px;
        padding: 25px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.3);
        background-color: #bbd9b6;
        border-radius: 28px;
        h2{
            font-size: 38px;
            justify-self: center;
            margin: 20px;
        }
        p{
            margin: 25px;
            font-size: 20px;
        }
        strong{
            font-size: 28px;
        }
    }
    h2{
        font-size: 36px;
        justify-self: left;
        margin: 20px;
    }
    h3{
        font-size: 32px;
        margin: 30px;
    }
    form{
        color: black;
        margin: 20px;
        align-content: center;
        .div-form{
            padding: 20px 16px;
            justify-content: center;
            label{
                margin: 20px;
                font-size: 20px;
                font-weight: bold;
            }
            input{
                border-radius: 8px;
                font-size: 22px;
                background-color: #bbd9b6 ;
            }   
        }
    }
    .resumen-compra{
        justify-content: space-between;
        margin: 40px 5px;
        p{
            margin: 30px;
            font-size: 22px;
            font-weight: bold;
        }
    }
    button{
        background-color: #A8B8A5;
        border-radius: 8px;
        margin: 10px;
        padding: 8px 20px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 12px rgba(0,0,0,0.3);
        &:hover{transform: scale(1.05);}
    }
}