.div-productos{
    background-color: #D9CDBF;
    height: 80vh;
    color: black;
    .div-categorias{
        border: 2px red solid;
        padding: 10px;
    }
    .div-cardproducts{
        border: 2px lawngreen solid;
        padding: 10px;

    }
    .div-paging{
        border: 2px blueviolet solid;
        padding: 10px;

    }
}