.footer{
    background-color: #bbd9b6;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .div-footer{
        color: black;
        justify-items: left;
        padding: 10px 30px;

    }
    .div-redes{
        display: flex;
        padding-right: 30px;
        .logo{
            height: 40px;
            padding: 10px;
        }
    }
}