.footer{
    background-color: #bbd9b6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;

    .div-footer{
        color: black;
        justify-items: left;
    }
    .div-redes{
        display: flex;
        .logo{
            height: 40px;
            padding: 10px;
        }
    }
}